<p id="notice"><%= notice %></p>


<h3 class="feature_movie"> Featured Movies </h3>
<div class="row">
  <% @tvshows.each do |tvshow| %>
    <div class="col-xs-6 col-md-3"> 
      <div class="thumbnail">
        <p><%= link_to (image_tag tvshow.image.url(:medium)), tvshow %> </p>
        <div class="movie_overview">
          <h3><%=tvshow.name%></h3>
          <p class="director">Dircted by <%=%></p>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= link_to 'New Tvshow', new_tvshow_path %>
