<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="media">
      <a class="media-left" href="#">
        <img class="media-object">
          <%= image_tag @tvshow.image.url(:medium) %>
      </a>
      <div class="media-body">
        <table class="table">
          <tr>
            <td> <strong>Title: </strong> </td>
            <td><%= @tvshow.name %> </td>
          </tr>
          <tr>
            <td> <strong>Air Date: </strong>  </td>
            <td><%= @tvshow.air_date %> </td>
          </tr>
          <tr>
            <td> <strong>Run Time: </strong>  </td>
            <td><%= @tvshow.run_time%> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_tvshow_path(@tvshow) %> |
<%= link_to 'Back', tvshows_path %>
<%= link_to 'Destroy', @tvshow, method: :delete, data: { confirm: 'Are you sure?' } %>